src/main/resources/wsdl/ossresponseperilscore.xsd


<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.optaintel.ca/ws/OptaSingleService/1.0"
            targetNamespace="http://www.optaintel.ca/ws/OptaSingleService/1.0"
            elementFormDefault="qualified">

	<xsd:include schemaLocation="http://www.optaservice.com/OptaSingleService/test?xsd=ossresponse.xsd"/>
	<xsd:include schemaLocation="http://www.optaservice.com/OptaSingleService/test?xsd=osstypes.xsd"/>

	<xsd:complexType name="PerilScoreProductType">
		<xsd:complexContent>
			<xsd:extension base="BaseProductType">
				<xsd:sequence>
					<xsd:element name="Perils" type="PerilScorePerilsType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PerilScorePerilsType">
		<xsd:sequence>
			<xsd:element name="Peril" type="PerilScorePerilType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

    <xsd:complexType name="PerilScorePerilType">
        <xsd:sequence>
            <xsd:element name="PerilDescription" type="xsd:string"/>
            <xsd:element name="FrequencyScore" type="xsd:integer" minOccurs="0"/>
            <xsd:element name="SeverityScore" type="xsd:integer" minOccurs="0"/>
            <xsd:element name="LossCostScore" type="xsd:integer" minOccurs="0"/>
            <xsd:element name="PredictedFrequency" type="xsd:double" minOccurs="0"/>
            <xsd:element name="PredictedSeverity" type="xsd:double" minOccurs="0"/>
            <xsd:element name="PredictedLossCost" type="xsd:double" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>