cl-esb-fus/src/main/resources/wsdl/OSS.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="OptaSingleService"
                  xmlns:opta="http://www.optaintel.ca/ws/OptaSingleService/1.0"
                  targetNamespace="http://www.optaintel.ca/ws/OptaSingleService/1.0">

    <!-- types -->
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://www.optaintel.ca/ws/OptaSingleService/1.0"
                    targetNamespace="http://www.optaintel.ca/ws/OptaSingleService/1.0"
                    elementFormDefault="qualified">

            <xsd:include schemaLocation="http://www.optaservice.com/OptaSingleService/prod?xsd=ossrequest.xsd"/>
            <xsd:include schemaLocation="http://www.optaservice.com/OptaSingleService/prod?xsd=ossresponse.xsd"/>

            <xsd:element name="OSSRequest" type="OSSRequestType"/>
            <xsd:element name="OSSResponse" type="OSSResponseType"/>

        </xsd:schema>
    </wsdl:types>

    <!-- message -->
    <wsdl:message name="OSSRequestMessage">
        <wsdl:part name="Request" element="opta:OSSRequest"/>
    </wsdl:message>
    <wsdl:message name="OSSResponseMessage">
        <wsdl:part name="Response" element="opta:OSSResponse"/>
    </wsdl:message>

    <!-- port -->
    <wsdl:portType name="OptaSingleServicePort">
        <wsdl:operation name="call">
            <wsdl:input message="opta:OSSRequestMessage"/>
            <wsdl:output message="opta:OSSResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <!-- binding -->
    <wsdl:binding name="OptaSingleServiceBinding" type="opta:OptaSingleServicePort">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="call">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <!-- service -->
    <wsdl:service name="OptaSingleService">
        <wsdl:documentation>
            Opta Single Service
        </wsdl:documentation>
        <wsdl:port name="OptaSingleServicePort" binding="opta:OptaSingleServiceBinding">
            <soap:address location="http://www.optaservice.com/OptaSingleService/prod"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
