cl-esb-fus/src/main/resources/wsdl/ossresponseresidentialmarketvaluation.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.optaintel.ca/ws/OptaSingleService/1.0"
            targetNamespace="http://www.optaintel.ca/ws/OptaSingleService/1.0"
            elementFormDefault="qualified">

    <xsd:include schemaLocation="http://www.optaservice.com/OptaSingleService/test?xsd=ossresponse.xsd"/>
    <xsd:include schemaLocation="http://www.optaservice.com/OptaSingleService/test?xsd=osstypes.xsd"/>

    <xsd:complexType name="ResidentialMarketValuationProductType">
        <xsd:complexContent>
            <xsd:extension base="BaseProductType">
                <xsd:sequence>
                    <xsd:element name="MarketValuation" type="ResidentialMarketValuationsType" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="ResidentialMarketValuationsType">
        <xsd:sequence>
            <xsd:element name="ConfidenceRating" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="Value" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="Date" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>